* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(34, 34, 34);
    margin: auto;
}

.wrapper {
    max-width: 64rem;
    margin: 0.8rem auto 0;
    overflow: hidden;
}

.slides {
   overflow: hidden;
   border: 0.6rem solid  rgb(0, 255, 123);
border-radius: 0.5rem; 
}

.slides-wrapper {
    display: flex;    
    transition: all 0.5s ease-in;
    gap: 2%;
    width: 100%;
}

.slides-wrapper img {
    width: 100%;
}

#radio1:checked ~ .slides .slides-wrapper{
    margin-left: 0;
}

#radio2:checked ~ .slides .slides-wrapper{
    margin-left: -102%;
}

#radio3:checked ~ .slides .slides-wrapper{
    margin-left: -204%;
}

#radio4:checked ~ .slides .slides-wrapper{
    margin-left: -306%;
}

.text-block {
    width: 100%;
    max-height: 4rem;
    overflow: hidden;
}

.text {
    font-family: 'Poppins', Verdana, sans-serif;
    color: rgb(225, 255, 239);
    font-size: 2.5rem;
    font-weight: 400;
}

.radio-input {
    display: none;
}

.under-slides {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-label {
    cursor: pointer;
    padding: 0.5rem;
}

.circle {
    cursor: pointer;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(0, 255, 123);
    border-radius: 50%;
    border: 0;
    transition:  all 0.3s ease;
    box-sizing: border-box;
}

.circle:hover {
    background-color:  rgb(225, 255, 239);
    border: 0;
}

#radio1:checked ~ .under-slides .circle1 {
    background-color: transparent;
    border: 0.3rem solid rgb(225, 255, 239);
}
  
#radio2:checked ~ .under-slides .circle2 {
    background-color: transparent;
    border: 0.3rem solid rgb(225, 255, 239);
}
  
#radio3:checked ~ .under-slides .circle3 {
    background-color: transparent;
    border: 0.3rem solid rgb(225, 255, 239);
}
  
#radio4:checked ~ .under-slides .circle4 {
    background-color: transparent;
    border: 0.3rem solid rgb(225, 255, 239);
}